@import "./variables.scss";

.ToDoistForm {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 5px;

  @include desktop {
    margin-left: 70px;
    margin-right: 110px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  &__containerForm {
    @extend %column;
    > label {
      margin: 3px;

      > span {
        margin: 5px;
      }
      
      > input {
        width: 260px;

        @include desktop {
          width: 700px;
          
          }
        }
        .inputName{ 
         
          @include desktop {
          margin-left:27px}
        }
      }
      
    }
  

  &__buttons {
    @extend %flex;
    justify-content: flex-end;
    padding-top: 10px;
    > button {
      margin: 3px;
    }
  }
}
