@import "./variables.scss";

.MainList {
  @extend %column;
  margin: 20px;
    padding-left: 25px;
  > h2 {
    padding-left: 7px;
    @include desktop {
      padding-left: 40px;
    }
  }
  &__list {
    @include desktop {
      padding-left: 110px;
      padding-right: 110px;
    }
    &--ulList {
      padding: 0px;

      .container {
        list-style-type: none;
        border: 1px solid #ddd;
        border-radius: 12px;
        background-color: rgba(247, 165, 11, 0.76);
        @extend %flex;
        justify-content: space-between;
        padding-left: 10px;
        margin: 10px;
       

        &__left {
          @extend %column;
          > div {
            @extend %flex;
            > input {
              margin: 5px;
            }
          }
          > p {
            padding-left: 20px;
          }
        }
        &__right {
          @extend %column;
          border-left: 1px solid black;
          padding-left: 15px;
          &--Button {
            @extend %flex;
            padding-right: 20px;
            .buttonConfirm {
              background-color: transparent;
              border: none;
            }
          }

          .homeLinkUrgent {
            margin: 10px;
          }
        }
      }
    }
  }

  &__button {
    margin: 10px;

    .plusIcon {
      margin-right: 5px;
    }
    @include desktop {
      padding-left: 40px;
    }
  }
}
