@import "./variables.scss";
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

link:link,
link:visited,
link:active {
  text-decoration: none;
}

.Navbar {
  @extend %flex;
  align-items: center;
  background-color: rgba(247, 165, 11, 0.822);
  justify-content: space-between;
  min-width: 395px;
 
  &__logo {
    > img {
      width: 150px;
    }
  }
  &__containerLinks {
    margin-right: 20px;
    > div {
      @extend %flex;

      > div {
        .homeLink {
          color: white;
          margin: 5px;
        }
      }
    }
  }
  > div {
    @extend %flex;
    > div {
      .completedLink,
      .urgentLink {
        color: white;
        margin: 7px;
      }
    }
  }
}
