@import "./variables.scss";

.UrgentTask {
  @extend %column;
  margin: 20px;
  padding-left: 25px;
  > h2 {
    padding-left: 7px;
    @include desktop {
      padding-left: 40px;
    }
  }
  &__list {
    @include desktop {
      padding-left: 80px;
      padding-right: 80px;
    }
    .ulList {
      padding: 0px;
      > li {
        list-style-type: none;
        border: 1px solid #ddd;
        border-radius: 12px;
        background-color: rgb(238, 238, 238);
        @extend %flex;
        justify-content: space-between;
        padding-left: 20px;
        margin: 10px;
      }

        > div {
          @extend %flex;

          > input {
            margin-right: 7px;
          }
        }
      }
    }
  }